.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

npm-debug.log*
yarn-debug.log*
yarn-error.log*

client/node_modules
client-vue/node_modules
client-vue/dist
serve/node_modules

